<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head>

 <title>Ernstchan - {% block title %}powered by Phutaba{% endblock %}</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/static.css" />
 <link rel="shortcut icon" href="{{MEDIA_URL}}favicon.ico" />
 
</head>

<body >

 <div class="menu">
  <a href="newfaq.html">FAQ</a>
  <a href="newrules.html">Regeln</a>
  <a href="irc://irc.euirc.net/ernstchan" title="#ernstchan @ euIRC">IRC-Channel</a>
  <a href="/s/">Support</a>
  <a href="newdonate.html">Spenden</a>
 </div>

 <div class="name"><a href="newindex.html">Ernstchan</a></div>
 <div class="slogan">&bdquo;zuf&auml;lliger Slogan&ldquo;</div>
 
 <hr />
 
 {% block content %}{% endblock %}

 
 <hr />
 
 <div class="footer_left">&copy; 2010-2011 Ernstchan</div>
 <div class="footer_right"><img src="img/phutaba.png" alt="Phutaba" title="Version 3.0" /></div>
 
</body>

</html> 