<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head>

 <title>Ernstchan - FAQ</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" type="text/css" href="css/static.css" />
 <link rel="shortcut icon" href="favicon.ico" />

</head>

<body >

 <div class="menu">
  <a href="newfaq.html">FAQ</a>
  <a href="newrules.html">Regeln</a>
  <a href="irc://irc.euirc.net/ernstchan" title="#ernstchan @ euIRC">IRC-Channel</a>
  <a href="/s/">Support</a>
  <a href="newdonate.html">Spenden</a>
 </div>

 <div class="name"><a href="newindex.html">Ernstchan</a></div>
 <div class="slogan">&bdquo;zuf&auml;lliger Slogan&ldquo;</div>
 
 <hr />
 
 <div class="caption">H&auml;ufig gestellte Fragen</div>
 
 <div class="item">
  <div class="title">
   Was ist das hier?
  </div>
  <div class="content">
   Ernstchan ist ein <a href="http://de.wikipedia.org/wiki/Imageboard">Imageboard</a>, also ein Forum, in dem hauptsächlich Bilder ausgetauscht werden.<br />    Bitte beachtet, dass ihr hier weder eine Quelle seriöser News, noch einen Kummerkasten finden werdet. Wer nichts mit Sarkasmus und schwarzem Humor anfangen kann, geht am besten gleich wieder.
  </div>
 </div>
  
 <div class="item">
  <div class="title">
   Wo melde ich mich an?
  </div>
  <div class="content">
   Auf einem klassischen Imageboard wie Ernstchan kann man sich nicht registrieren. Normalerweise tauscht man sich hier anonym aus.
  </div>
 </div>
 
 <div class="item">
  <div class="title">
   Wie kann ich in Beitr&auml;gen die Schrift formatieren?
  </div>
  <div class="content">
   Folgende BBCode-Tags stehen zur Auswahl:<br /><br />
   <table border="1">
     <tr>
      <th>Eingabe</th>
      <th>Ausgabe</th>
     </tr>
     <tr>
      <td>[i]kursiv[/i]</td>
      <td><em>kursiv</em></td>
     </tr>
     <tr>
      <td>[b]fett[/b]</td>
      <td><strong>fett</strong></td>
     </tr>
     <tr>
      <td>[u]unterstrichen[/u]</td>
      <td><ins>unterstrichen</ins></td>
     </tr>
     <tr>
      <td>[s]durchgestrichen[/s]</td>
      <td><del>durchgestrichen</del></td>
     </tr>
     <tr>
      <td>[sp]Spoiler[/sp]</td>
      <td><span class="spoiler">Spoiler</span></td>
     </tr>
     <tr>
      <td>[code]Code[/code]</td>
      <td><code>Code</code><br /><small>(in <em>/c/</em> mit Syntaxhervorhebung)</small></td>
     </tr>
    </table>
  </div>
 </div>

 <div class="item">
  <div class="title">
   Was steckt denn so unter der Haube von Ernstchan?
  </div>
  <div class="content">
   Ernstchan wird mit Phutaba betrieben, einer in Python (<a href="http://www.djangoproject.com/">Django</a>) geschriebenen Imageboardsoftware. Unsere Daten befinden sich auf amerikanischen Server.<br />
  </div>
 </div>
 
 <div class="item">
  <div class="title">
   Was stellt das Logo dar?
  </div>
  <div class="content">
   Es zeigt ein Eichenblatt in den Farben des <a href="http://wakaba.c3.cx/s/web/wakaba_kareha">Wakaba</a>-Logos:<br /><a href="http://ernstchan.net/img/logo_gross.png" target="top" title="Klicke auf den Thumbnail, um das Bild in vollst&auml;ndiger Gr&ouml;&szlig;e zu sehen."><img src="http://ernstchan.net/img/logo_klein.png" alt="" /></a>
  </div>
 </div>

 <div class="item">
  <div class="title">
   Darf ich Moderator werden?
  </div>
  <div class="content">
   Nein.
  </div>
 </div>

 <div class="item">
  <div class="title">
   Geh&ouml;rt Channel3 zu euch?
  </div>
  <div class="content">
   Nein, Channel3 ist eine unabh&auml;ngige Plattform, die wir bei uns auflisten.
  </div>
 </div>

 <p>Falls ihr noch eine Frage habt, die hier nicht beantwortet wurde, kontaktiert uns via <a href="irc://irc.euirc.net/ernstchan">IRC</a> oder <a href="http://www.google.com/recaptcha/mailhide/d?k=01bimScZkDomRfgjrHHc3Yjw==&amp;c=XWz9HZaiON1FNPBGx71T2XHhOdNJCLPYbMGYFy9he-8=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501bimScZkDomRfgjrHHc3Yjw\75\75\46c\75XWz9HZaiON1FNPBGx71T2XHhOdNJCLPYbMGYFy9he-8\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;">E-Mail</a>.</p>
 
 <hr />
 
 <div class="footer_left">&copy; 2010-2011 Ernstchan</div>
 <div class="footer_right"><img src="img/phutaba.png" alt="Phutaba" title="Version 3.0" /></div>

</body>

</html> 
