<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head>

 <title>Ernstchan - Regeln</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="stylesheet" type="text/css" href="css/static.css" />
 <link rel="shortcut icon" href="favicon.ico" />
 
</head>

<body >

 <div class="menu">
  <a href="newfaq.html">FAQ</a>
  <a href="newrules.html">Regeln</a>
  <a href="irc://irc.euirc.net/ernstchan" title="#ernstchan @ euIRC">IRC-Channel</a>
  <a href="/s/">Support</a>
  <a href="newdonate.html">Spenden</a>
 </div>

 <div class="name"><a href="newindex.html">Ernstchan</a></div>
 <div class="slogan">&bdquo;zuf&auml;lliger Slogan&ldquo;</div>
 
 <hr />
 
 <div class="caption">Regeln</div>
 
 <div class="item">
  <div class="title">
   1. Altersbeschr&auml;nkung
  </div>
  <div class="content">
   Ernstchan richtet sich in erster Linie an Personen, die <strong>18 Jahre oder &auml;lter</strong> sind. Minderj&auml;hrige haben hier nichts veloren.
  </div>
 </div>
  
 <div class="item">
  <div class="title">
   2. Uploads
  </div>
  <div class="content">
   <strong>S&auml;mtliche Dateien, die gegen das US-Recht versto&szlig;en, d&uuml;rfen nicht hochgeladen werden!</strong> Dazu z&auml;hlen beispielsweise Kinderpornografie und urheberrechtlich gesch&uuml;tzte Inhalte.
  </div>
 </div>

 <div class="item">
  <div class="title">
   3. Themenbereiche
  </div>
  <div class="content">
   Abgesehen von den Boards /b/ und /dis/ sollte man sich an das vorgegebene Thema halten.
  </div>
 </div>
 
 <div class="item">
  <div class="title">
   4. NSFW-Bereiche
  </div>
  <div class="content">
   In Boards mit der Markierung <span class="nsfw" style="vertical-align: middle;">NSFW</span> (= Not safe for work) darf pornografisches oder anstößiges Material gepostet werden. In allen anderen Bereichen ist dies zu unterlassen.
  </div>
 </div>

 <div class="item">
  <div class="title">
   5. Sonstiges
  </div>
  <div class="content">
   Bitte beachtet ebenfalls die Regeln, welche in den einzelnen Boards aufgelistet werden.
  </div>
 </div>
 
 <hr />
 
 <div class="footer_left">&copy; 2010-2011 Ernstchan</div>
 <div class="footer_right"><img src="img/phutaba.png" alt="Phutaba" title="Version 3.0" /></div>
 
</body>

</html> 