{% extends "core/base.html" %}
{% load board %}

{% block title %}{{ board|safe }}{% endblock %}

{% block pagetitle %}{{board|safe}}{% endblock %}
{% block pagesubtitle %}{{board.subtitle|safe}}{% endblock %}

{% block content %}
<div class="postarea">
  <form id="postform" action="{% url board-post board.identifier %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="trap">
      <input type="text" name="name" size="28" />
      <input type="text" name="link" size="28" /> 
    </div>
    <table>
      <tbody>
        {% if not board.force_nick %}
        <tr>
          <td class="postblock">Name</td>
          <td><input type="text" name="field_nick" value="{{request.POST.field_nick}}" size="35" />
            <input type="submit" value="Abschicken" /></td>
        </tr>
        {% endif %}
        <tr>
          <td class="postblock">Betreff</td>
          <td><input type="text" name="field_subject" value="{{request.POST.field_subject}}" size="35" />
            {% if board.force_nick %}
            <input type="submit" value="Abschicken" />
            {% endif %}
            </td>
        </tr>
        <tr>
          <td class="postblock">{{board.sage_string}}</td>
          <td><input type="checkbox" name="field_sage" value="sage" onclick="previewSage(this, 'sage', 'sageinfo')" />
            &nbsp;<span id="sage" class="sage"></span>&nbsp;<span id="sageinfo" class="sageinfo"></span></td>
        </tr>
        <tr>
          <td class="postblock">Kommentar</td>
          <td><textarea id="field_comment" name="field_comment" cols="48" rows="6">{{request.POST.field_comment}}</textarea>
            <img onclick="resizeCommentfield('field4', this)" src="{{ MEDIA_URL }}img/expand.png" alt="" title="Textfeld vergr&ouml;&szlig;ern" /></td>
        </tr>
{% if user.is_authenticated %}
  {% check_perm user board "post_as_mod" "may_post_as_mod" %}
	{% if may_post_as_mod %}
        <tr>
          <td class="postblock">Moderator</td>
          <td><input type="checkbox" name="field_modpost" value="CSI YEEEEAH"/>
            Als Moderator pfostieren</td>
        </tr>
	{% endif %}
{% endif %}
        <tr>
          <td class="postblock">Datei</td>
          <td><input type="file" name="field_file" size="35" /></td>
        </tr>
        <tr id="trgetback">
          <td class="postblock">Gehe zur&uuml;ck</td>
          <td><label>
              <input name="gb2" value="board" type="radio" />
              zum Board</label>
            <label>
              <input name="gb2" value="thread" checked="checked" type="radio" />
              zum Faden</label></td>
        </tr>
        <tr>
          <td class="postblock">Passwort</td>
          <td><input type="password" name="field_password" value="{{request.POST.field_password}}" size="8" />
            (Optional)</td>
        </tr>
        <tr>
          <td colspan="2"><div class="rules">
              <ul>
                <li>7Z, BMP, GIF, JPG, MP3, OGG, PDF, PNG, PSD, RAR, SVG, WMA, ZIP + max. 10 MB</li>
                <li>Dateien, die gegen das US-Recht versto&szlig;en, sind hier verboten.</li>
				<li>Bitte nur <acronym title="Not Safe for Work">NSFW</acronym>!</li>
              </ul>
            </div></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<script type="text/javascript">set_inputs("postform")</script>
<form id="delform" action="delete" method="post">
	<div class="thread" style="clear: both">
		<hr />
		{% for t in threads.object_list %}
			{% thread_overview t request %}
		{% empty %}
		No posts.
		{% endfor %}
		<div style="clear: both;"></div>
		<hr />
		<table class="userdelete">
			<tbody>
				<tr>
					<td><input type="hidden" name="task" value="delete" />
						Passwort
						<input type="password" name="password" size="8" />
						<input value="L&ouml;schen" type="submit" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
<script type="text/javascript">set_delpass("delform")</script>
<table border="1">
	<tbody>
		<tr>
			<td> [ <a href="#">Zur&uuml;ck</a> ] </td>
			<td> [0] </td>
			<td> [ <a href="#">Vor</a> ] </td>
		</tr>
	</tbody>
</table>
<br clear="all" />
{% endblock %}
